/* Global */

$color-main: #1e272e;
$font-text: 'Montserrat', sans-serif;

   
*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
        
section {
    padding: 108px 0;
}

/* Intro */
    
.intro {
    background: #fff;
}
